<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Add message</title>
</head>
<body>
    <h1>Add a message</h1>
    <form action="addMessage" method="POST">
        <label for="">Pseudo</label>
        <input type="text" name="pseudo" id="pseudo" placeholder="Enter your Pseudo">
        <label for="">Content</label>
        <input type="text" name="content"  id="content" placeholder="Enter your Message content">
        <input type="submit" value="Add" >
    </form>
    <script>
    </script>
</body>
</html>